canvas {        
    background: yellow;
    margin-top: 20px;
  }
  button{
    padding: 7px 20px;
    font-size: 18px;
  }
  span{
    font-size: 18px;
  }
  #start{
    background-color: green;
  }
  #stop{
    background-color: red;
  }